a {text-decoration:none;color: black;}
a:hover{text-decoration:none; cursor:pointer}/*a标签鼠标经过mouseover时的样式*/
a:link{text-decoration:none; cursor:pointer;} /*a标签未访问时的样式*/
a:visited{text-decoration: overline ; cursor:pointer}/*a标签访问过之后样式*/
a:active{text-decoration:overline;cursor:pointer}/*a标签鼠标按下mousedown时的样式*/